body{
    background-image:linear-gradient(#009FE5,#2BDE79);
    color:white;
}

#mainbody {
    width: 70vw;
}

#Hands_icon{
    width:200px;
}

iframe{
    width:300px;
    height:250px;
    border: 2px white solid;
}

a{
    display:block;
}

q{
    display:block;
}

.profile:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 50px auto; /* This will center the border. */
    width: 33%; /* Change this to whatever width you want. */
    border-bottom: 3px solid white; /* This creates the border. Replace black with whatever color you want. */
}

.profile-text{
    min-width:172px;
}

.profile-pic{
    border-radius:50%;
    min-width:150px;
    height:150px;
    border: white 2px solid;
}

.send{
    width:100%;
}

#mocktail{
    height:150px;
}

.textsection{
    background: rgba(245,245,245,0.1);
    border-radius:50px;
    box-shadow: 3px 3px 20px rgba(39,129,211,0.1);
}

.parallax{
    background-image: url("src/group2.jpg");
    height: 60vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#headertext{
    font-family: 'Lobster', cursive;
    font-style: italic;
    color: #f9f9f9;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    font-size: 60px;
    top: 30vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.profile-pic{
    border-radius:50%;
    width:150px;
    height:150px;
    border: white 2px solid;
}

@media(max-width: 768px){
    #mainbody{
        width:100vw;
    }
}

/* BUTTON BACK TO TOP style */


#button {

    display: inline-block;

    background-color: #2781D3;

    width: 50px;

    height: 50px;

    text-align: center;

    border-radius: 4px;

    position: fixed;

    bottom: 30px;

    right: 30px;

    transition: background-color .3s,
    opacity .5s, visibility .5s;

    opacity: 0;

    visibility: hidden;

    z-index: 1000;

}

#button::after {

    content: "\f077";

    font-family: FontAwesome;

    font-weight: normal;

    font-style: normal;

    font-size: 2em;

    line-height: 50px;

    color: rgb(245, 245, 245);

}

#button:hover {

    cursor: pointer;

    background-color: #2BDE79;

}

#button:active {

    background-color: #555;

}

#button.show {

    opacity: 1;

    visibility: visible;

}