

html, body {height: 100%}
body {
    margin: 0;
    padding: 0;
}

.carousel{
    height: 95vh;
    width: 100vw;
}

.navbar {
    padding-bottom: auto;
    box-sizing: inherit;
    margin: 0;

}

.navbar-brand{
    width:120px;
    height: auto;
}

.logo
{
    width: 270px;
    height: 200px;
    z-index: 10;
}

.d-block{
    height: 95vh;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
    z-index: 10;
  /*  pointer-events: none; */
}

.main-text .btn{
    pointer-events: all;
}

.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}



/*
.panel-footer {
    width: 100%;
    background-color: #212529;
    padding-bottom: auto;
    margin: 0;
    z-index: auto;
    text-align: center;
}*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.booktop {
    text-align: right;
}





.opacity-color {
    pointer-events: none;
    width: 100vw;
    height: 95vh;
    background-color: #6610f2;
    position: absolute;
    z-index: 5;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


