@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body{
    background-image: linear-gradient(to bottom, #2BDE79, #2781D3);
    background-repeat: no-repeat;
    color: white;
}

.container{
    width:70vw;
}

.parallax{
    background-image: url("src/beach-header.jpg");
    height: 60vh;

    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.headertext{
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.headertext h1, h2{
    font-family: 'Lobster', cursive;
    font-style: italic;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.headertext h1{
    color: #f9f9f9;
    font-size: 70px;
}

.headertext h2{
    color: #f9f9f9;
    font-size: 48px;
}



form{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(249,249,249, 0.1);
    border-radius: 10%;
}

.form-control{
    border: 1px solid gray;
}

label {
    width: 100%;
}

.panel{
    height: 300px;
}

.panel-text{
    font-size: 80%;
}

.card-header{
    font-weight: bold;
}

.card-img-top{
    height: 150px;
    width: auto;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}

.card-img-top{
    width: 150px;
    margin: 20px auto;
}

ul{
    list-style-type: square;
}

textarea{
    resize: none;
}

.card-input-element:checked + .card-input {
    border: 3px solid lime;
}