@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body{
    background-image:linear-gradient(#009FE5,#2BDE79);
    color:white;
}

iframe{
    width:350px;
    height:275px;
}

.profile q{
    display:block;
}

.profile:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 50px auto; /* This will center the border. */
    width: 33%; /* Change this to whatever width you want. */
    border-bottom: 2px solid white; /* This creates the border. Replace black with whatever color you want. */
}

.send{
    width:100%;
}

#mocktail{
    height:150px;
}

.textsection{
    background: rgba(245,245,245,0.1);
    border-radius:50px;
    box-shadow: 3px 3px 20px rgba(39,129,211,0.1);
}

.parallax{
    background-image: url("src/group2.jpg");
    height: 60vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#headertext{
    font-family: 'Lobster', cursive;
    font-style: italic;
    color: #f9f9f9;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    font-size: 60px;
    top: 30vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.profile-pic{
    border-radius:50%;
    width:150px;
    height:150px;
    border: white 2px solid;
}