body{
    background-image: linear-gradient(to bottom, #2BDE79, #2781D3)
}

/*background-image: linear-gradient(to bottom, #d82ac2, #ba4cd3, #9960dd, #776ee1, #5478de, #3986e4, #1b93e6, #009fe5, #00b4ea, #00c6d7, #00d5af, #2bde79);*/

form{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

label {
    width: 100%;
}

.panel{
    height: 300px;
}

.panel-text{
    font-size: 80%;
}

.panel-heading{
    font-weight: bold;
}

.card-img-top{
    height: 150px;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}

.card-img-top{
    width: 150px;
    margin: 20px auto;
}

.card-input-element:checked + .card-input {
    border: 3px solid lime;
}